.zCreateForm {
  width: 100%;
  height: 100%;
  .zFormCreateItem {
    width: 100%;
    // height: 100%;
    .ant-form-item {
      // margin-bottom: 0;
    }
    .ZFormCreatetem_label {
    }
    .isOverHiden {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
