@import "~@/assets/layOut.scss";
.componentsMenu {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto-fill, 50px);
  grid-gap: 15px;
  padding: 10px 5px 5px 5px;
  //   flex-wrap: wrap;
  //   align-content: flex-start;
  .componentsMenuItem {
    width: 100%;
    height: 100%;
    @include flex-row-c-c;
    border: 3px solid #333333;
    cursor: pointer;
    border-radius: 8px;
  }
  .active_Item {
    border: 3px solid #409eff;
  }
}
